{% block html_head_container %}

{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-spacing="{{setting_spacing}}" data-font-size="{{setting_font_size}}" data-colour="{{setting_colour}}" data-template="base.twig">
	<a class="skip-link" href="#content">{{ _e( 'Skip to content') }}</a>
	{% include "partial/debug.twig"%}
	<header class="header">
		{% block header %}
		<h1 class="header__title" role="banner">
			<a href="{{site.url}}" rel="home" title="Home">
			{% include "partial/logo.svg" %}
			</a>
		</h1>
		{% endblock %}
		<nav class="nav" role="navigation">
			<span>Menu</span>
			{% include "menu.twig" with {'items': menu.get_items} %}
		</nav>
		{% include "toolbar.twig" %}
	</header>


	<main id="content">
		{% block content %}
		Sorry, no content
		{% endblock %}
	</main>

	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
	<script src="{{theme.link}}/dist/main.js?v={{theme.version}}"></script>
</body>

</html>