{% block html_head_container %}

{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-colour="light-contrast" data-template="base.twig">
	<a class="skip-link" href="#content">{{ _e( 'Skip to content') }}</a>
	{% include "partial/debug.twig"%}
	<header class="header">
		{% block header %}
		<h1 class="header__title" role="banner">
			<a href="{{site.url}}" rel="home">{{site.name}}</a>
		</h1>
		{% endblock %}
		<nav class="nav" role="navigation">
			{% include "menu.twig" with {'items': menu.get_items} %}
		</nav>
	</header>

	{% include "toolbar.twig" %}

	<main id="content">
		{% block content %}
		Sorry, no content
		{% endblock %}
	</main>

	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
	<script src="{{theme.link}}/dist/main.js?v={{theme.version}}"></script>
</body>

</html>