{% extends "base.twig" %}

{% block content %}
<article class="resources">
	<h2 class="page__title">{{post.title}}</h2>
	<div class="page__intro">
		{{post.content}}
	</div>
	{% for t in resource_terms %}
	{% set term = TimberTerm(t)%}
	{% set items = term.posts(-1)%}
	{% if items | length > 0 %}
	<details class="resource__group" open>
		<summary class="summary">
			<h3 class="group__title">
				{{t.name}} ({{term.posts | length}})
			</h3>
		</summary>
		<ul>
			{% for r in items %}
			<li class="resources__item">
				<h4 class="resource__title">
					{{r.title}}
				</h4>
				<p class="resource__description">
					{% set words = r.description | split(" ") %}
					{% set l = words | length %}
					{% set target_length = 45 %}
					{% if l > target_length %}
					<span class="description__opening">{{words[:target_length] | join(" ")}}</span> <span class="description__rest">{{words[target_length:] | join(" ")}}</span>
					<button class="description__toggle button--small">Show more</button>
					{% else %}
					{{r.description }}
					{% endif %}
				</p>
				<a href="{{r.resource_url}}" class="resource__link">
					{{r.resource_url | replace({"https://": "", "http://": ""})}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</details>
	{% endif %}
	{% endfor %}
</article>
{% endblock %}