{% extends "base.twig" %}

{% block content %}
<article class="resources">
	<h2>{{post.title}}</h2>
		{% for t in resource_terms %}
		{% set term = TimberTerm(t)%}
		<details open>
			<summary>
				<h3>
					{{t.name}}
				</h3>
			</summary>
			<ul>
				{% for r in term.posts(-1)%}
				<li class="resources__item">
					<h4 class="resource__title"><a href="{{r.resource_url}}">{{r.title}}</a></h4>
					<p class="resource__description">
						{{r.description}}
					</p>
				</li>
				{% endfor %}
			</ul>
		</details>
		{% endfor %}
</article>
{% endblock %}