{% extends "base.twig" %}

{% block content %}
{% set now = "now" | date("U")%}

<article class="events">
	<ul>
		{% for e in events %}

		{% set start = e.start | date("U")%}
		{% set end = e.end | date("U")%}
		{% set state = "past" %}

		{% if start > now %}
		{% set state = "future" %}
		{% endif %}

		<li class="events__item {{state}}">
			<span class="event__date">
				{% include "/partial/dates.twig" with {dates: {start:e.start, end: e.end}}%}
			</span>
			{% if e.thumbnail.src != "" and state == "future"%}
			{% set img = e.thumbnail%}
			<a class="thumbnail" href="{{e.link}}">
				<img src="{{img | resize (500)}}" srcset="{{img | resize (500) | towebp}} 500w, {{img | resize (1000) | towebp}} 1000w, {{img | resize (1500) | towebp}} 1500w" alt="{{img.alt}}">
			</a>
			{% endif %}
			
			<a href="{{e.link}}">
				<h3>{{e.title}}</h3>
			</a>
			{% if e.short_description %}
			<p>
				{{e.short_description}}
			</p>
			{% if state == "future"%}
				<span>{{e.audience}}</span>
			{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</article>
{% endblock %}