{% extends "base.twig" %}
{% block content %}
{% set start = post.start | date("U")%}
{% set end = post.end | date("U")%}
{% set now = "now" | date("U")%}

<article class="event" id="post-{{ post.ID }}">
	<header class="event__header">
		<h1 class="event__title">{{ post.title }}</h1>
		<p class="event__intro">{{post.short_description}}</p>
		{% set img = post.thumbnail%}
		<figure class="event__thumbnail">
			<img src="{{img | resize (500)}}" srcset="{{img | resize (500) | towebp}} 500w, {{img | resize (1000) | towebp}} 1000w, {{img | resize (1500) | towebp}} 1500w" alt="{{img.alt}}">
			{% if img.caption != ""%}
			<figcaption>{{img.caption}}</figcaption>
			{% endif %}
		</figure>
	</header>
	<div class="event__copy">
		{% if now < start %} {% include "/partial/event-data-upcoming.twig" %} {% endif %} {% if now> end %}
			{% include "/partial/event-data-past.twig" %}
			{% endif %}
			<div class="event__description">
				{{post.content}}
			</div>
			{% set people = post.meta("related_people")%}
			{% if people | length > 0%}
			<section class="event__people">
				<h3>Participants</h3>
				{% for p in people %}
				<details class="person">
					<summary>
						<span class="person__name">
							{{p.title}}
						</span>
						<p class="person__job">
							{% if p.job != ""%}
							{{p.job}},
							{% endif %}
							{% if p.institution != ""%}
							<span class="institution">{{p.institution}}</span>
							{% endif %}
						</p>
					</summary>
					<div class="person__bio">
						<p>
							{{p.bio}}
						</p>
					</div>
				</details>
				{% endfor %}
			</section>
			{% endif %}
	</div>

</article>

{% endblock %}