{% extends "base.twig" %}
{% block content %}
{% set start = post.start | date("U")%}
{% set end = post.end | date("U")%}
{% set now = "now" | date("U")%}

<article class="event" id="post-{{ post.ID }}">
	<header class="event__header">
		{% set img = post.thumbnail%}
		<figure class="event__thumbnail">
			<img src="{{img | resize (500)}}" srcset="{{img | resize (500) | towebp}} 500w, {{img | resize (1000) | towebp}} 1000w, {{img | resize (1500) | towebp}} 1500w" sizes="100vw" alt="{{img.alt | e("html_attr")}}">
			{% if img.caption != ""%}
			<figcaption>{{img.caption}}</figcaption>
			{% endif %}
		</figure>
		<h2 class="page__title">{{ post.title }}</h2>
		<p class="page__intro">{{post.short_description}}</p>
	</header>
	<div class="event__copy">
		{% if now < start %} {% include "/partial/event-data-upcoming.twig" %} {% endif %} {% if now> end %}
			{% include "/partial/event-data-past.twig" %}
			{% endif %}
			<div class="event__description">
				{{post.content}}
			</div>
			{% set people = post.meta("related_people")%}
			{% if people | length > 0%}
			<section class="event__people">
				<h2>People</h2>
				<ul>

					{% for p in people %}
					<li class="person">
						<h4 class="person__name">
							{{p.title}}
						</h4>
						<p class="person__job">
							{% if p.job != ""%}
							{{p.job}}
							{% endif %}
							{% if p.institution != ""%}
							<span class="institution">{{p.institution}}</span>
							{% endif %}
						</p>
						{% if p.personal_website %}
						<a href="{{p.personal_website}}">{{p.personal_website | replace({"https://": "", "http://": "", "www.": ""})}}</a>
						{% endif %}
						{% if p.bio == "abc" %}
						<div class="person__bio">
							<p>
								{{p.bio}}
							</p>
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</section>
			{% endif %}
	</div>

</article>

{% endblock %}