<div class="event__data card event__data--upcoming">
    <div class="row">
        <div class="datum">
            <span class="datum__label">Date and Time</span>
            <p class="datum__content">
                {% include "/partial/dates.twig" with {dates: {start:post.start, end: post.end}}%}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="datum">
            <span class="datum__label">Audience</span>
            <p class="datum__content">{{post.audience}}</p>
        </div>
        <div class="datum">
            <span class="datum__label">Location</span>
            <p class="datum__content">{{post.location}}</p>
        </div>
    </div>
    <div class="card__actions">
        <a href="{{post.registration}}" class="button button--primary">Register now</a>
        <div class="button--tooltip">
            <button class="button">Add to calendar</button>
            <div class="tooltip">
                {% set df = "Ymd\\THisZ"%}
                {% set note %}
                <br><br>For details, <a href="{{post.link}}"><b>go to the event page.<b></a>
                {% endset %}
                <div class="tooltip__inner">
                    <a target='_blank' href="https://calendar.google.com/calendar/r/eventedit?text={{post.title | url_encode}}&dates={{post.start | date(df)}}/{{post.end | date(df)}}&details={{post.content | striptags | trim | url_encode}}{{note | url_encode}}&location={{post.location | url_encode}}">Google Calendar</a>
                    <a href="/calendar/">Outlook</a>
                    <a href="{{theme.link}}/calendar.php">Apple Calendar</a>
                </div>
            </div>
        </div>
    </div>
</div>