<div id="{{prefix}}-mc_embed_signup" class='newsletter'>
    <form action="https://imperial.us18.list-manage.com/subscribe/post?u=f554154be6969c89f66354f2a&amp;id=871601117b" method="post" id="{{prefix}}-mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="{{prefix}}-mce-EMAIL">{{label}}</label>
        <div id="{{prefix}}-mc_embed_signup_scroll" class="scroll">
            <input type="email" value="" name="EMAIL" class="email" id="{{prefix}}-mce-EMAIL" placeholder="you@email.com" required autocomplete>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f554154be6969c89f66354f2a_871601117b" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="{{prefix}}-mc-embedded-subscribe" class="button button--primary">
        </div>
    </form>
</div>